*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Plus Jakarta Sans', sans-serif; */
}

nav{
    font-weight: 600;
}

.nav-link{
    font-size: 1.2rem;
}

.btn{
    background-color: #3434ff;
    font-weight: 600;
    color: #fff;
}